<!DOCTYPE html>
<html>


<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<body style="background-image: url('https://cdn0.vox-cdn.com/thumbor/lmv4-Lj_R4RVA2Zz-b1d-pI2fck=/0x47:900x553/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/54244287/Neew_Nintendo_NES_Classic_Edition.0.0.jpg')">


<div class="container" style="background-color: white">


<section class="message-list">
  <section class="message -right">
    <!-- Balloon -->
    <div class="nes-balloon from-right">
      <p>Hello visitor, this is my      
      <span class="nes-badge">
  <span class="is-primary">bookmark app</span>
</span>.</p>
    </div>
    <i class="nes-bcrikko"></i>
  </section>
</section>




<div id="todo-list-example">
  <form v-on:submit.prevent="addNewTodo">
    <label for="new-todo">Add a link</label>
    <input
      v-model="newTodoText"
      id="new-todo"
      placeholder="www.philserme"
    >

    <input
      v-model="newTodoType"
      id="new-todo-type"
      placeholder="E.g. Feed the cat"
    >

<select >
  <option v-for="item in colors"
  
  value="item">{{ item }}</option>
</select>

    <button>Add</button>
  </form>


<div class="lists">
<ul class="nes-list is-disc">
  <div class="row" style="background-color:black;color:white">
	<div class="col-sm-2">Click</div>
	<div class="col-sm-2">Rank</div>
	<div class="col-sm-2">Name</div>
	<div class="col-sm-2">Type</div>
	<div class="col-sm-2">Date</div>

	<div class="col-sm-1">Edit</div>
	<div class="col-sm-1">Del</div>

</div>

	<li class="row"
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo.id"
      v-bind:click="todo.click"
      v-bind:rank="todo.rank"      
      v-bind:title="todo.title"
      v-bind:colors="todo.colors"
      v-bind:colors="todo.type"

      v-bind:date="todo.date"
      
      
      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>

</div>


</div>

</div>


<script>



Vue.component('todo-item', {
  template: '\
    <li>\
      <div class="col-sm-2">{{ click }}</div>\
      <div class="col-sm-2">{{ rank }}</div>\
      <div class="col-sm-2"><b @click="click++">{{ title }}</b></div>\
      <div class="col-sm-1">{{ type }}</div>\
      <div class="col-sm-1">{{ colors }}</div>\
      <div class="col-sm-2">{{ date }}</div>\
      <div class="col-sm-1">\<i class="far fa-edit"></i></div>\
	  <div class="col-sm-1"><b v-on:click="$emit(\'remove\')"><i class="far fa-trash-alt"></i></b></div>\
    </li>\
  ',
  props: ['title','type','click','rank','date','colors' ]
})


new Vue({
  el: '#todo-list-example',
  data: {
showModal: false,
newTodoText: '',
    newTodoType: '',
    click: 0,
    rank: 0,
    date: '1/2/34',
    es: 0,
    colors : ["red", "yellow", "green"],
   
    
    
    
    todos: [
      {
        id: 1,
        click: 0,
        rank: 1,
        title: 'Do the dishes',
        type: 'sport',
        date: '1/1/11',
        es: 0,
        colors:'red',
      },
      {
        id: 2,
        click: 10,
        rank: 2,
        title: 'Take out the trash',
        type: 'sport',
		date: '2/2/12',
        es: 0,
        colors:'red',
		},
      {
        id: 3,
        click: 3,
        rank: 3,
        title: 'Mow the lawn',
        type: 'cd',
		date: '3/2/13',
		es: 0,
		colors:'red',
		}
    ],
    nextTodoId: 4,
    
    
  },
  methods: {
    addNewTodo: function () {
      this.todos.push({
        id: this.nextTodoId++,
        click: this.click,
        rank: this.rank++,
        es: this.es > 5? 5: this.es,
        title: this.newTodoText,
        type: this.newTodoType,
        date: '11/11/11',
        colors: 'red',
      })
      this.newTodoText = ''
      
	
	},
    

    
    
    
    addClick: function(){
      return 5;
    },
    blurField(){
      this.editField = 'ss';
    },
    showField(name){
      return (this.title == '' || this.editField == name)
    }
    
    
  }
});
</script>

</body>
</html>
